$light-color : #fdfdfd;
$border-color: #a0a0a0;
$header-desc-color: #909090;
$text-color: #606060;
$button-color: #d0d0d0;

html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background:blue;
}
#container {
  width: 100%;
  background: white;

}
.cardList{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#low{
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between:
}
#medium{
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between:
}
#high{
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between:
}
.lowCardItem{
  border: solid 1px;
}
.mediumCardItem{
  border: solid 1px;
}
.highCardItem{
  border: solid 1px;
}