.KanbanCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CardList{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
.cardItem{
  border-radius: 25px;
}
#low{
  background-color: yellow;
}
#medium{
  background-color: orange;
}
#high{
  background-color: red;
}
.newCard{
  margin: 0 auto;
  width: 10%;
  text-align: center;
}

select option[value='']{
  display:none;
}
#queue{
width:25%;
}
#inProgress{
width: 25%;
}
#completed{
width: 25%;
}